<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowe auto |AutoBase|</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
    <ul class="menu">
        <li class="menu-logo-container">
            <a href="#" th:href="@{/}">
                <i class="fa-solid fa-car logo"></i> AutoBase
            </a>
        </li>
        <li class="menu-toggle">
            <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
        </li>
        <li class="menu-item">
            <a href="#" th:href="@{/admin}">Panel admina</a>
        </li>
        <li class="menu-item">
            <a href="#"> Top 10 aut</a>
        </li>
        <li class="menu-item">
            <a href="#">Zaloguj się</a>
        </li>
    </ul>
    <header class="jumbotron">
        <h1 class="jumbotron-header">Dziękujemy za odwiedzenie naszej strony!</h1>
        <p class="jumbotron-description">
            Jeżeli się tu znalazłeś, to zakładam, że jesteś fanem motoryzacji.
            <br>
            Dobrze trafiłeś! Znajdziesz tutaj wiele przydatnych informacji na temat samochodów osobowych i nie tylko,
            a ponadto możesz dodawać własne treści.
        </p>
    </header>
    <main class="main-content">
        <h2 class="list-heading">Dodaj nowe auto</h2>
        <form action="" method="post" enctype="multipart/form-data" class="mc-form" th:object="${car}">
            <label for="brand">Marka</label>
            <select id="brand" th:field="*{brand}" required>
                <option value="" hidden>Wybierz markę</option>
                <option style="color:black" th:each="brand: ${brands}" th:value="${brand.name}" th:text="${brand.name}"></option>
            </select>
            <br><br>
            <label for="model">Model</label>
            <input type="text" id="model" placeholder="Podaj model auta np. A3" th:field="*{model}">
            <br><br>
            <label for="type">Typ auta</label>
            <input type="text" id="type" placeholder="Podaj typ auta np. SUV" th:field="*{type}">
            <br><br>
            <label for="productionYear">Rok produkcji</label>
            <input type="number" id="productionYear" placeholder="2019" th:field="*{productionYear}">
            <br><br>
            <label for="promoted">Popularny (wyświetlenie na stronie głównej)?</label>
            <input id="promoted" type="checkbox" th:field="*{popular}">
            <br><br>
            <label for="photo">Zdjęcie</label>
            <input type="file" id="photo" th:field="*{photo}" accept="image/png, image/jpeg">
            <br><br>
            <label for="youtubeShowcaseId">Identyfikator filmu prezentacji auta na Youtube</label>
            <input type="text" id="youtubeShowcaseId" placeholder="h3PZP0lz_GE" th:field="*{youtubeShowcaseId}">
            <br><br>
            <label for="shortDescription">Krótki opis - max 200 znaków</label>
            <textarea id="shortDescription" rows="5" th:field="*{shortDescription}"></textarea>
            <br><br>
            <label for="description">Pełny opis</label>
            <textarea id="description" rows="10" th:field="*{description}"></textarea>
            <br><br>
            <button type="submit">Dodaj auto</button>
        </form>
    </main>
    <footer class="footer">
        <p>AutoBase 2024 <i class="fas fa-copyright"></i> Szymon Kwiecień</p>
    </footer>
</div>
</body>
</html>