<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="|${car.brand} - Dane|">Nazwa auta - AutoBase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script defer src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
<div class="container">
    <ul class="menu">
        <li class="menu-logo-container">
            <a href="#" th:href="@{/}">
                <i class="fa-solid fa-car logo"></i> AutoBase
            </a>
        </li>
        <li class="menu-toggle">
            <a href="#"><i id="toggle-icon" class="far fa-plus-square"></i></a>
        </li>
        <li class="menu-item" sec:authorize="hasAnyRole('ADMIN','EDITOR')">
            <a href="#" th:href="@{/admin}">Panel admina</a>
        </li>
        <li class="menu-item">
            <a href="#" th:href="@{/top10}">Top10 aut</a>
        </li>
        <li class="menu-item">
            <a href="#" th:href="@{/login}" sec:authorize="!isAuthenticated()">Zaloguj się</a>
            <a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Wyloguj się</a>
        </li>
    </ul>
    <header class="jumbotron">
        <h1 class="jumbotron-header">Dziękujemy za odwiedzenie naszej strony!</h1>
        <p class="jumbotron-description">
            Jeżeli się tu znalazłeś, to zakładam, że jesteś fanem motoryzacji.
            <br>
            Dobrze trafiłeś! Znajdziesz tutaj wiele przydatnych informacji na temat samochodów osobowych i nie tylko,
            a ponadto możesz dodawać własne treści.
        </p>
    </header>
    <main class="main-content">
        <section class="car">
            <div class="car-summary">
                <img src="../static/img/no_img.png"
                     th:src="${car.photo != null} ? ${'/img/' + car.photo} : '/img/no_img.png'"
                     alt="${car.brand}"
                     class="car-summary-cover"
                />
                <div class="car-summary-info">
                    <h1 class="car-summary-title" th:text="|${car.brand} ${car.model}|">Marka i model auta</h1>
                    <p class="car-summary-original-title" th:text="${car.type}">Klasa auta</p>
                    <p class="car-summary-item" th:text="|Rok produkcji: ${car.productionYear}|">Rok produkcji: 2005</p>
                    <p class="car-summary-item" th:text="${car.shortDescription}">
                        Krótki opis auta
                    </p>
                </div>
            </div>
            <div class="car-rating-container car-section">
                <h2 class="car-section-heading">Ocena</h2>
                <p th:unless="${car.ratingCount}">Brak głosów</p>
                <div th:if="${car.ratingCount}">
                    <p class="car-rating-value" th:text="${#numbers.formatDecimal(car.avgRating, 1, 1)}">4.8</p>
                    <p th:text="|Liczba ocen: ${car.ratingCount}|">Liczba ocen: 45</p>
                </div>
                <form action="#" th:action="@{/ocen-auto}" method="post"
                      sec:authorize="isAuthenticated()"
                      class="car-rating-form">
                    <p>Twoja ocena</p>
                    <input type="hidden" name="carId" th:value="${car.id}">
                    <div class="car-rating-buttons">
                        <button class="car-rating-button"
                                name="rating"
                                th:each="i: ${#numbers.sequence(1, 5)}"
                                th:value="${i}">
                            <i class="fa-star" th:classappend="${i <= userRating ? 'fa-solid' : 'fa-regular'}"></i>
                        </button>
                    </div>
                </form>
                <p sec:authorize="!isAuthenticated()">
                    <a href="#" th:href="@{/login}">Zaloguj się</a>, aby oddać głos
                </p>
            </div>
        </section>
        <section class="car"></section>

        <section class="car-showcase-container car-section">
            <h2 class="car-section-heading">Trailer</h2>
            <iframe width="560" height="315" class="car-showcase"
                    src="https://www.youtube.com/watch?v=IbuWlXBWUWIs"
                    th:src="|https://www.youtube.com/embed/${car.getYoutubeShowcaseId()}|"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>

            </iframe>
        </section>
        <section class="car-section">
            <h2 class="car-section-heading">Opis</h2>
            <p th:text="${car.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur..</p>
        </section>
    </main>

    <footer class="footer">
        <p>AutoBase 2024 <i class="fas fa-copyright"></i> Szymon Kwiecień</p>
    </footer>
</div>
</body>
</html>