* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #ffc107;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #424242;
}

.main-content {
    flex: 1;
}

.logo,
#toggle-icon {
    color: #ffc107;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    width: 100%;
    padding: 16px;
    border-bottom: 1px #6d6d6d solid;
    text-align: center;
    display: none;
}

.expanded > .menu-item {
    display: block;
}

.menu-logo-container,
.menu-toggle {
    display: block;
    padding: 16px 32px;
    font-size: 20px;
}

.footer {
    padding: 8px;
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .menu-toggle {
        display: none;
    }

    .menu-item {
        display: block;
        width: auto;
        border-bottom: 0;
    }

    .menu-logo-container {
        flex: 1;
    }

    .main-content,
    .menu {
        align-self: center;
        width: 960px;
    }
}

.jumbotron {
    position: relative;
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: 100%;
    padding: 2rem;
    text-align: center;
}

.jumbotron::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    mix-blend-mode: multiply;
    z-index: -1;
}

.jumbotron {
    position: relative;
    z-index: 1;
    color: white;
}

.jumbotron-description {
    font-size: 1.2rem;
}

.jumbotron-header {
    font-size: 3rem;
    margin: 2rem 0;
}

.list-heading {
    text-align: center;
    margin: 25px 0;
}

.car-list {
    list-style-type: none;
}

.car-list-item {
    margin-bottom: 16px;
    display: flex;
    border: 1px #6d6d6d solid;
}

.car-list-item-poster {
    display: block;
    max-width: 200px;
}

.car-list-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}
.car-list-item-content > * {
    margin: 8px 0;
}
.car-list-item-title {
    font-size: 1.6rem;
}
.car-list-item-rating {
    font-size: 1.6rem;
}

.car-summary {
    display: flex;
    margin-top: 16px;
}

.car-summary-cover {
    object-fit: contain;
    max-width: 200px;
}

.car-summary-info {
    margin-left: 16px;
}

.car-summary-original-title {
    color: #9e9e9e;
    margin-bottom: 16px;
}

.car-summary-item {
    margin: 8px 0;
}

.car-summary-title {
    font-size: 2rem;
}

.car-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
}


.car-rating-form > p {
    text-align: center;
    margin-bottom: 16px;
}

.car-rating-value {
    font-size: 4rem;
    text-align: center;
}

.car-rating-button {
    background-color: #ffc107;
    border: 0;
    padding: 4px;
    font-size: 1.6rem;
    border-radius: 4px;
    opacity: 0.8;
}

.car-rating-button:hover {
    opacity: 1;
}

.car-rating-container > * {
    margin: 8px 0;
}

.car-section {
    margin-top: 16px;
    padding: 16px;
    border: 1px #6d6d6d solid;
}

.car-section-heading {
    margin-bottom: 8px;
}

.car-showcase {
    display: block;
    margin: auto;
}

@media only screen and (min-width: 992px) {
    .car {
        display: flex;
        justify-content: space-between;
    }

    .car-rating-buttons {
        display: flex;
        flex-wrap: nowrap;
    }

    .car-rating-button {
        font-size: 1.2rem;
        margin: 0 4px;
    }
}

.mc-form > input,
.mc-form > textarea,
.mc-form > button,
.mc-form > select {
    font-size: 1.2rem;
    color: black;
    padding: 8px;
}

.mc-form > input[type=checkbox] {
    transform: scale(1.5);
    margin-left: 5px;
}

.mc-form > input[type=file] {
    color: white;
}

.mc-form-message {
    color: #ffc107;
    text-align: center;
}


